@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .box-shadow-tooltip {
    box-shadow: 0px 2px 4px 0px rgba(30, 41, 59, 0.25);
  }
}
@layer utilities {
  .invisible-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .backgroundHeaderProfile {
    background-image: url('../features/page-profile/header/assets/background.svg');
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@layer utilities {
  .truncated-text {
    --max-lines: 4;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: var(--max-lines);
    line-clamp: var(--max-lines);
    -webkit-box-orient: vertical;
  }
}

