@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .truncated-text {
    --max-lines: 4;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: var(--max-lines);
            line-clamp: var(--max-lines);
    -webkit-box-orient: vertical;
  }
}